body {
    background-color: rgb(246, 248, 250);
    font-family: 'Segoe UI', Tahoma, Arial;
    font-size: 11px;
    font-weight: normal;
}

input {
    font-family: 'Segoe UI', Tahoma, Arial;
    font-size: 11px;
    height: 13px;
    letter-spacing: normal;
    line-height: normal;
}

h3 {
    margin:1px 0px 1px 0px;
}

.reviewList {
    list-style: none;
    margin-top:15px;
}

.reviewList li {
    border-top: 1px solid lightGrey;
    margin-top:10px;
}

.reviewList li label {
    width:100px;
}

.reviewList li textarea {
    width:95%;
}


#header {
}

#bodyContainer {
    position:fixed;
    top:15px;
}

.star-rating img {
   height:20px;

}