<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="trainingReview">
<head>
    <title>Training Review</title>
    
    <script src="Scripts/Libraries/jquery.js"></script>
    <script src="Scripts/Libraries/angular.min.js" type="text/javascript"></script>
    <script src="Scripts/TrainingReview.html.js"></script>
    <script src="Scripts/Models/TrainingModel.js"></script>
    <script src="Scripts/Models/EmployeeTrainingModel.js"></script>
    
    <link href="Styles/TrainingReview.css" rel="stylesheet" />
</head>
<body ng-controller="trainingController" ng-switch on="isLoaded">
    <div class="loading" ng-switch-when="false">Loading....</div>
 
    <div id="body" ng-switch-when="true" >
        <div id="header" ><button ng-click='addReview();'>Add Review</button></div>
    
        <ul class="reviewList" >
            <li ng-repeat="training in training.EmployeeTrainings" ng-switch on="training.IsEditable">
                <div ng-switch-when="false" ng-dblclick="editRecord(training);">
                    <h3>{{training.UserName}} -- {{formatDate(training.TrainingDate)}}</h3>
                    <div>Rating: {{training.Rating}}</div>
                    <star-rating rating="training.Rating" ></star-rating>
                    <div>{{training.Description}}</div>
                
                </div>
                <div ng-switch-when="true">
                    <div>
                        <span><label>Employee: </label> <span>{{training.UserName}}</span></span>
                        <span> <label>Completion Date</label>  <input ng-model="training.TrainingDate" /></span> 
                    </div>
                    <star-rating rating="training.Rating" isEditable="true"></star-rating> {{training.Rating}}
                    <div>Description: <textarea ng-model="training.Description" rows="5" cols="10"></textarea> </div>
                    <button ng-click="saveRecord(training);">Save</button>
                 </div>
            </li>

        </ul>
    </div>
</body>
</html>
